
module my-gnomedirectory 1.0;

require {
	type thumb_t;
	type config_home_t;
	class dir { add_name write };
}

#============= thumb_t ==============
allow thumb_t config_home_t:dir add_name;

#!!!! This avc is allowed in the current policy
allow thumb_t config_home_t:dir write;
